@import '../../../index.scss';

.CartIcon{
    padding-top:7px;
    position: relative;
    .Cart {
        width: 24px;
        height: 24px;
        object-fit: contain;
        font-size:24px;
        background-color: white;
        border: none;
    }
    .Oval{
        @include wordfont;
        position: absolute;
        width: 18px;
        height: 18px;
        background-color: #ffa15f;
        color: white;
        font-size: 12px;
        font-weight: 500;
        border-radius: 15px;
        left:18px;
        bottom: 18px;
        padding-left: 5px;
    }
}