@import './../../index.scss';


.productlist-container{
    @include wordfont;
    @include flexcenter;
    flex-direction: column;
    .type-title{
        height:60px;
        margin-top: 40px;
        div{
            height:22px;
            font-size:14px;
        }
    }
    .product-container{
        width:80%;
        display:flex;
        .usersidebar{
            width:200px;
            margin-right:20px;
            .optionhead{
                color:#202124;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 29px;
            }
            .category{
                padding-bottom: 54px;
                .items{
                    div{
                        font-size:14px;
                        margin-bottom:18px;
                        color:#4d4d4d;
                    }
                    .listchoose{
                        cursor:pointer;
                    }
                    .ItemsName{
                        color:#ff6900;
                    }
                    .line{
                        width:20px;
                        border: 0.5px solid #b7b7b7;
                        margin-top: -8px;
                        margin-bottom: 8px;
                    }
                }
            }
            .line1{
                width:76px;
                border: 0.5px solid #b7b7b7;
            }
            .filter{
                padding-top: 48px;
            }
        }
        .main-container{
            width:100%;
            display:flex;
            flex-direction: column;
            .headflex{
                @include flexbetween;
                padding-bottom:13px;
                .sortby{

                }
                .pagination{

                }
            }
            .productlist{
                width: 100%;
                height:100%;
                .product{
                    .soldout{

                    }
                    .productimg{
                        width:20%;

                    }
                    .quickshop{

                    }
                    .productname{

                    }
                }
            }
        }
    }
}