.items{
    div{
        font-size:14px;
        margin-bottom:18px;
        color:#4d4d4d;
    }
    .listchoose{
        cursor:pointer;
    }
    .ItemsName{
        color:#ff6900;
    }
    .line{
        width:20px;
        border: 0.5px solid #b7b7b7;
        margin-top: -8px;
        margin-bottom: 8px;
    }
}