@import '../../index.scss';
@mixin LinkTag {
    display:flex;
    position: absolute;
    border: none;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffa15f;
    font-weight: bold;
    color:white;
    justify-content: center;
    align-items: center;
}
.homepage{
    @include wordfont;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    .main-banner{
        width: 85%;
        padding-top:37px;
        padding-bottom: 19px;
        position: relative;
        .shop-img{
            width:100%;
            height: 513px;
        }
        label{
            position: absolute;
            top: 20%;
            font-size: 48px;
            color: white;
            font-weight: bold;
            right: 10%;
        }
        .linktag{
            position: absolute;
            @include LinkTag;
            width: 180px;
            font-size:16px;
            top: 80%;
            right: 8%;
            padding:15px 20px;
            div{
                transform: translateY(-2px);
            }
        }
    }
}