.usersidebar{
    width:200px;
    margin-right:10px;
    .optionhead{
        color:#202124;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 29px;
    }
    .category{
        padding-bottom: 54px;
        
    }
    .line1{
        width:76px;
        border: 0.5px solid #b7b7b7;
    }
    .filter{
        padding-top: 48px;
    }
}