@import './../../index.scss';

@mixin wordflex{
    @include flexaround;
    div{
        @include wordfont;
        text-align: center;
        cursor: pointer;
    }
}

.footer-container{
    width:100%;
    height:185px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top:1px solid #cccccc;
    .footer1{
        @include flexbetween;
        width: 80%;
        height: 120px;
        border-bottom:1px solid #cccccc;
        .social-icon{
            width:24px;
            height:24px;
            padding-left:14px;
            color:#cccccc;
        }
        .footer-menu{
            @include wordflex;
            font-size: 14px;
            color: #b7b7b7;
            div{
                padding: 0px 20px;
            }
        }
    }
    .footer2{
        @include flexbetween;
        width: 80%;
        height: 63px;
        .footer-menu{
            @include wordflex;
            font-size: 12px;
            color: #b7b7b7;
            div{
                padding-right: 20px;
            }
        }
           
        .policy{
            @include wordflex;
            font-size:12px;
            color: #b7b7b7;
            div{
                padding-left: 10px;
            }
        }
    }
}